################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrystalReportWebforms
/MedicioWebformApp/.vs/MedicioWebformApp/v17
/.vs
/AKSS/AKSS_Management/AKSS_Management.csproj
/ScriptRelatedFiles/Script Related Files
/service
/AKSS.rar
/AKSS.zip
/ScriptRelatedFiles.zip
/service.zip
/AKSS/packages
/AKSS/.vs/AKSS
/AKSS/AKSS.sln
/AKSS/AKSS_Management/bin/AKSS_Management.dll
/AKSS/AKSS_Management/bin/AKSS_Management.pdb
/AKSS/AKSS_Management/obj/Debug/AKSS_Management.dll
/AKSS/AKSS_Management/obj/Debug/AKSS_Management.csproj.AssemblyReference.cache
/AKSS/AKSS_Management/obj/Debug/AKSS_Management.pdb
